// list09
section.list_09(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.article
			ul.pic.showOnScroll(data-show-offset='100', data-show-animation='custom_R2Lflow')
				li.now
					a.img.imgLoading(href='https://www.juksy.com/archives/79033', target='_blank', data-imgload='img/article/l_09/01.jpg')
				li
					a.img.imgLoading(href='https://www.juksy.com/archives/79034', target='_blank', data-imgload='img/article/l_09/02.jpg')
			.txt
				ul.dateWrap
					li.now
						.date 05
						.month Jun
							br
							| 2018
						.author by Cloud
					li
						.date 01
						.month Jun
							br
							| 2018
						.author by Cloud
				ul.main
					li.now
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/79033', target='_blank')
								h3 【去你的弱】誰跟你假面甜心？雪芙徹頭徹尾的真透了！年近30歲更坦然做自己：「面對輿論已不在乎！」
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') 「比以前更不在意別人怎麼看吧！女人30歲前，別人在你背後議論時會感到焦慮擔憂，30歲以後就變得不在乎了，生活是自己在過的，想辦法讓自己開心比較重要吧！」
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/79033', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/79034', target='_blank')
								h3 【去你的弱】郭雪芙服裝「風格零設限」任何浮誇造型都撐得起！
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') 完美身材比例的郭雪芙，任何風格的服裝她都能駕馭得當。拍攝當天雪芙對於服裝造型並無太多意見，只見經紀人拿了最浮誇的一套表示雪芙穿這種越誇張設計越好看！此次造型設定，三套風格迂迴但各自展現不同的重點趨勢，從中性奢華精品、台灣獨立設計師品牌、到濃厚日本風味的設計品牌，能嗅出幾個流行元素，像是閃亮、透膚、絲綢、罩衫以及破壞重組等。雪芙此次對於服裝造型來者不拒願意嘗試挑戰，展露不設限的專業和絕對氣場，現在就來看看雪芙所演繹的造型吧！
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href=' https://www.juksy.com/archives/79034', target='_blank') Read More >>
			.navWrap
				.nav
					.btn.left.end <
					.number
						span.now 1
						| /
						span.total 2
					.btn.right >
// list09 end